@charset "utf-8";
.tc {
	float: left;
	width: 200px;
}
.tc h2{
	font-size: 24px;
}
.tc li{
	font-size: 15px;
	height: 29px;
	border-bottom: 1px  solid; 
}
.fs{
	float: right;
	width: 770px;
}
.fs h2{
	font-size: 24px;
}
.fs img{
	margin-top: 30px;
	margin-bottom: 30px;
}
.dh img{
float: left;
text-align: right;
}
.tc li{
	background: url('../image/arr.png') no-repeat left;
	padding-left: 10px;
}
